@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --neutral-color: #efefef;
  --primary-color: #114b5f;
  --secondary-color: #34d1bf;

  --blended-color: color-mix(
    in srgb,
    var(--primary-color) 50%,
    var(--secondary-color)
  );
}

/* wildcard selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-weight: 400;
  font-style: normal; */
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: var(--neutral-color);
}
main {
  position: relative;
}

.skipLink {
  position: absolute;
  top: -50px;
  left: 0;
}

.skipLink:focus {
  top: 0px;
}

/* Nav specific styles */
header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  isolation: isolate;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  z-index: 9000;
}
header * {
  display: flex;
  flex-direction: row;
}
header .headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
header > .headerWrapper > h1 {
  font-size: 2rem;
  flex: 1;
}

header > .headerWrapper > #nav-expand-button {
  flex: 0;
}

/* hide the nav by default */
#mainNav {
  position: absolute;
  top: 100%;
  clip-path: circle(0% at 95% -2rem);
  display: flex;
  justify-content: center;
  width: 100%;
  transition: clip-path 0.7s ease-in-out;
  background-color: var(--primary-color);
  z-index: 2;
  padding: 1.5rem;
}

/* show the navbar */
#mainNav.open {
  clip-path: circle(250% at top);
  /* top: 100%; */
}

#mainNav ul {
  flex-direction: column;
  gap: 1rem;
}

#mainNav a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
}

#menuIcon {
  fill: var(--neutral-color);
  font-size: 1rem;
  width: 2rem;
}

#nav-expand-button {
  height: 4rem;
  width: 4rem;
  margin: 0;
  padding: 1rem;
  aspect-ratio: 1/1;
  font-size: 2rem;
  background: none;
  border: none;
}

section {
  padding: 1rem;
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.visually-hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0px;
  display: none;
}

/* desktop styles */
@media screen and (min-width: 70rem) {
  header {
    flex-direction: row;
  }
  header .headerWrapper #nav-expand-button {
    display: none;
  }
  header #mainNav ul {
    flex-direction: row;
  }
  #mainNav {
    display: flex;
    position: relative;
    top: unset;
    justify-content: flex-end;
    clip-path: unset;
  }
  #mainNav.open {
    top: unset;
  }

  .section-body {
    flex-direction: row;
    padding: 5rem;
    /* column-gap: 3rem; */
  }
  .section-body > * {
    max-width: 25%;
  }
}
