/* wildcard selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.skipLink {
  visibility: hidden;
  height: 0;
}

.skipLink::selection {
  visibility: visible;
  height: auto;
}

/* Nav specific styles */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
header * {
  display: flex;
  flex-direction: row;
}
header .headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header > .headerWrapper > h1 {
  font-size: 2rem;
  flex: 1;
}

header > .headerWrapper > #nav-expand-button {
  flex: 0;
}

header #mainNav ul {
  gap: 1rem;
  flex-direction: column;
}

/* hide the nav by default */
#mainNav {
  display: none;
  justify-content: center;
}

/* show the navbar */
#mainNav.open {
  display: flex;
  width: 100%;
  transition: all 0.3s;
}

#menuIcon {
  fill: #000000;
  font-size: 1rem;
  width: 2rem;
}

#nav-expand-button {
  height: 4rem;
  width: 4rem;
  margin: 0;
  padding: 1rem;
  aspect-ratio: 1/1;
  font-size: 2rem;
  background: none;
  border: none;
}

section {
  padding: 1rem;
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.visually-hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0px;
  display: none;
}

/* desktop styles */
@media screen and (min-width: 768px) {
  .section-body {
    flex-direction: row;
    padding: 5rem;
    /* column-gap: 3rem; */
  }
  .section-body > * {
    max-width: 25%;
  }
}
